:root {
	/* Colors */
	--clr-purple-100: hsl(275, 100%, 97%);
	--clr-purple-600: hsl(292, 16%, 49%);
	--clr-purple-950: hsl(292, 42%, 14%);

	--clr-violet: hsl(281, 83%, 54%);
	--clr-white: #ffffff;
	--clr-black: #000000;

	/* Typography */
	--ff-primary: 'Work Sans';

	--fs-big: 56px;
	--fs-normal: 18px;
	--fs-small: 16px;

	--fw-big: 700;
	--fw-normal: 600;
	--fw-small: 400;

	--lh-big: 66px;
	--lh-normal: 21px;
	--lh-small: 24px;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* general styling */

body {
	background-color: var(--clr-purple-100);
	font-family: var(--ff-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.background__wrapper {
	position: absolute;
	top: 0;
	z-index: -1;
}

.faq {
	background-color: var(--clr-white);
	padding: 1rem;
	max-width: 88%;
	border-radius: 8px;
	box-shadow: 2px 2px 15px rgba(214, 214, 214, 0.295);
}

.faq__header {
	display: flex;
	gap: 1rem;
	align-items: baseline;
	margin-bottom: 1rem;
}

.header__icon {
	height: 1.9rem;
}

.header__title {
	transform: translateY(-4px);
	color: var(--clr-purple-950);
}

.hidden {
	display: none;
}

.accordion__question {
	border: none;
	background-color: var(--clr-white);
	display: flex;
	text-align: left;
	width: 100%;
	cursor: pointer;
}

.accordion__text {
	font-weight: var(--fw-normal);
	color: var(--clr-purple-950);
	line-height: var(--lh-normal);
	padding-right: 2rem;
}

.accordion__icon {
	margin-left: auto;
}

.accordion__answer {
	margin-inline: 4px;
	color: var(--clr-purple-600);
	font-size: 0.9rem;
	margin-top: 1.7rem;
}

hr {
	background-color: var(--clr-purple-100);
	border: none;
	height: 2px;
	margin: 1rem 5px;
}

@media (min-width: 770px) {
	.background__wrapper {
		height: 320px;
		overflow: hidden;
	}

	.faq__background {
		transform: scale(1.85);
	}

	.faq {
		padding: 2rem;
		max-width: 83%;
		border-radius: 15px;
	}

	.header__icon {
		height: 2.5rem;
	}

	.header__title {
		font-size: 3.5rem;
	}

	.accordion__question {
		font-size: var(--fs-normal);
	}

	.accordion__answer {
		margin-inline: 4px;
		font-size: 1rem;
		margin-top: 1rem;
	}
}

@media (min-width: 1440px) {
	.faq__background {
		transform: scale(1);
	}

	.faq {
		max-width: 600px;
	}
}
